<nav class="sidebar sidebar-offcanvas" id="sidebar">
  <ul class="nav">
    <li class="nav-item">
      <a class="nav-link" href="/dashboard">
        <i class="ti-shield menu-icon"></i>
        <span class="menu-title">Dashboard</span>
      </a>
    </li>

    <li class="nav-item">
      <a class="nav-link" href="/ideas">
        <i class="ti-layout-list-post menu-icon"></i>
        <span class="menu-title">Generate Fundraising Ideas</span>
      </a>
    </li>
  </ul>
</nav>