<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Saas101 |dashboard</title>
</head>
<body>
    <h3>dashboard</h3> 
    <p><textarea rows="5" cols="50"></textarea></p>
    <p><button>Generate</button></p>
</body>
</html>