<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>SAAS101</title>
    <!-- plugins:css -->
    <link rel="stylesheet" href="vendors/ti-icons/css/themify-icons.css">
    <link rel="stylesheet" href="vendors/base/vendor.bundle.base.css">
    <!-- endinject -->
    <!-- plugin css for this page -->
    <!-- End plugin css for this page -->
    <!-- inject:css -->
    <link rel="stylesheet" href="css/style.css">
    <!-- endinject -->
    <link rel="shortcut icon" href="images/favicon.png" />
</head>

<body>
    <div class="container-scroller">
        <%- include('./partials/_navbar')%>


            <div class="container-fluid page-body-wrapper">

                <%- include('./partials/_sidebar')%>




                    <div class="main-panel">
                        <div class="content-wrapper">

                            <div class="row">
                                <div class="col-md-12 grid-margin">
                                    <div class="d-flex justify-content-between align-items-center">
                                        <div>
                                            <h4 class="font-weight-bold mb-0">Idea page</h4>
                                        </div>

                                    </div>
                                </div>
                            </div>
                            <h1></h1>
                            <div class="form-group">

                                <p><textarea id="prompt" type="text" name="prompt" placeholder="enter your text"
                                        required class="form-control" id="exampleTextarea1" rows="4"></textarea></p>
                                <p><button class="btn btn-primary" id="idea-generate">Generate</button>
                                </p>

                            </div>



                            <div class="card" id="generatedText">


                            </div>
                        </div>
                        <%- include('./partials/_footer') %>
                    </div>
            </div>
    </div>


</body>


<!-- 
document.getElementById("submitPrompt").innerHTML = 'Generating <div class="spinner-border spinner-border-sm" role="status"><span class="sr-only"></span></div>'; -->

<style>
    .spinner-border {
        animation: rotate 1s linear infinite;
        width: 20px;
        height: 20px;
        stroke: #54ffaf;
        margin-bottom: 2px;
    }

    @keyframes rotate {
        100% {
            transform: rotate(360deg)
        }
    }

    @keyframes dash {
        0% {
            stroke-dasharray: 1, 150;
            stroke-dashoffset: 0
        }

        50% {
            stroke-dasharray: 90, 150;
            stroke-dashoffset: -35
        }

        100% {
            stroke-dasharray: 90, 150;
            stroke-dashoffset: -124
        }
    }
</style>


<script>
    const ideaGenerate = document.getElementById('idea-generate');
    ideaGenerate.addEventListener("click", () => {

        // ideaGenerate.value = "HI this"
        ideaGenerate.innerHTML = 'Generating <div class="spinner-border spinner-border-sm" role="status"><span class="sr-only"></span></div>';

        console.log("Calling GPT3 for ideas generations")
        const url = '/ideas'
        const prompt = document.getElementById("prompt").value;
        const body = JSON.stringify({
            prompt: prompt,
            userid: "1234",
        })
        const options = { method: 'POST', headers: { "Content-Type": "application/json" }, body: body }

        fetch(url, options).then(response => {
            console.log(response);
            return response.json();
        }).then(result => {
            console.log(result);
            // const GPT3IdeaResponse = document.getElementById('GPT3-idea-response')
            ideaGenerate.innerHTML = "Generate"
            // GPT3IdeaResponse.innerHTML = `<p>${result.text}</p>`

            document.getElementById('generatedText').innerHTML = `<div class="card-body" id="GPT3-idea-response">
                                    ${result.text}
                                </div>`




        }).catch(error => {
            console.log("Erron in calling ideas API", error);
        })


    })








</script>