<link rel="stylesheet" href="app.css">
<div class="mine-container white-card">
    <h1>Login</h1>
    <form action="/auth/login" method="post">
        <input type="email" name="email" placeholder="enter your email" required>
        <input type="password" name="password" placeholder="enter your password" required>
        <input type="submit" value="login">
    </form>
    <a href="/">signup page</a>
</div>

