<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        <%= title %>
    </title>
    <link rel="stylesheet" href="style.css">
</head>

<body>

    <div class="container">
        <p>login/signup</p>
        <form action="/signup" method="POST">
            <input name="email" id="email" type="email" placeholder="enter your email" />
            <input name="password" id="password" type="password" placeholder="enter your password" />
            <input type="submit" class="" id="signup" value="signup" />
        </form>
    </div>







</body>

</html>